<a href="/" class="relative flex">
	<svg
		id="logo"
		xmlns="http://www.w3.org/2000/svg"
		role="img"
		viewBox="0 0 84 96"
		class="text-accent z-10 transition-transform duration-200 hover:-translate-x-1 hover:-translate-y-1"
		width="45"
		height="45"
	>
		<g transform="translate(-8.000000, -2.000000)">
			<g transform="translate(11.000000, 5.000000)">
				<polygon
					id="Shape"
					stroke="currentColor"
					stroke-width="5"
					stroke-linecap="round"
					stroke-linejoin="round"
					points="39 0 0 22 0 67 39 90 78 68 78 23"
					fill="var(--color-background)"
				>
				</polygon>
				<g transform="translate(22, 17)">
					<path
						d="M16.25 46.60Q12.45 46.60 9.43 45.17Q6.40 43.75 4.30 41.27Q2.20 38.80 1.10 35.50Q0 32.20 0 28.45Q0 23.30 1.95 19.22Q3.90 15.15 7.53 12.77Q11.15 10.40 16.25 10.40Q20.05 10.40 23.08 11.80Q26.10 13.20 28.20 15.70Q30.30 18.20 31.43 21.45Q32.55 24.70 32.55 28.45Q32.55 32.35 31.45 35.23Q30.35 38.10 28.85 40.20L33.30 42.65L31.15 46.60L26.30 43Q24.45 44.55 21.95 45.58Q19.45 46.60 16.25 46.60M16.15 42.50Q18.20 42.50 19.88 42Q21.55 41.50 22.75 40.75L18.95 38.35L20.95 34.70L25.45 37.95Q26.65 36 27.18 33.67Q27.70 31.35 27.70 28.45Q27.70 25.75 26.93 23.25Q26.15 20.75 24.68 18.77Q23.20 16.80 21.08 15.65Q18.95 14.50 16.25 14.50Q12.65 14.50 10.10 16.32Q7.55 18.15 6.20 21.30Q4.85 24.45 4.85 28.45Q4.85 31.15 5.60 33.67Q6.35 36.20 7.80 38.20Q9.25 40.20 11.35 41.35Q13.45 42.50 16.15 42.50Z"
						fill="currentColor"></path>
				</g>
			</g>
		</g>
	</svg>
	<svg
		id="logo"
		xmlns="http://www.w3.org/2000/svg"
		role="img"
		viewBox="0 0 84 96"
		width="45"
		height="45"
		class="text-accent absolute inset-0"
	>
		<g transform="translate(-8.000000, -2.000000)">
			<g transform="translate(11.000000, 5.000000)">
				<polygon
					id="Shape"
					stroke="currentColor"
					stroke-width="5"
					stroke-linecap="round"
					stroke-linejoin="round"
					points="39 0 0 22 0 67 39 90 78 68 78 23"
					fill="var(--color-accent)"
				>
				</polygon>
			</g>
		</g>
	</svg>
	<span class="sr-only">Home</span>
</a>
