---
interface Props {
	className?: string
	accent?: boolean
	small?: boolean
}

const { className = "", accent = false, small = false } = Astro.props
---

<p
	class={`${accent ? "text-accent" : "text-muted"} ${small ? "text-md xl:text-lg" : "text-md md:text-lg"} ${className}`}
>
	<slot />
</p>
