@import "tailwindcss";

@theme {
    --color-accent: var(--color-green-400);
    --color-background: var(--color-gray-900);
    --color-text: var(--color-white);
    --color-muted: var(--color-stone-400);
}