@import "tailwindcss";

@theme {
    --color-accent: var(--color-sky-400);
    --color-background: var(--color-gray-900);
    --color-text: var(--color-white);
    --color-subdued: var(--color-gray-300);
    --color-muted: var(--color-gray-400);
    --color-panel-background: var(--color-gray-800);
}

/* Smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* Custom scrollbar styles */

.scrollbar-thin::-webkit-scrollbar {
	height: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
	background: var(--color-panel-background);
	border-radius: 10px;
	
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background: var(--color-muted);
	border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
	background: var(--color-subdued);
}