---
import Button from "./Button.astro"
import Logo from "../icons/Logo.astro"
import Menu from "../icons/Menu.astro"
import { links } from "../helpers/links.astro"
import NewTabLink from "./NewTabLink.astro"
---

<nav class="flex items-center justify-between px-8 py-6">
	<Logo />

	<!-- Hamburger Menu (Mobile only) -->
	<button
		id="menu-button"
		type="button"
		class="text-accent h-8 w-8 cursor-pointer transition-transform duration-200 hover:scale-110 md:hidden"
		aria-label="Toggle menu"
	>
		<Menu />
	</button>

	<!-- Navigation Links & Resume Button (Desktop only) -->
	<div class="hidden items-center space-x-6 md:flex">
		<ul class="flex space-x-6">
			{
				links.map((link, i) => (
					<li>
						<a
							href={link.href}
							class="hover:text-accent text-subdued font-semibold transition-colors duration-200"
						>
							<span class="text-accent">{i + 1}. </span>
							{link.label}
						</a>
					</li>
				))
			}
		</ul>
		<NewTabLink href="/Qiyuan-Chen-Resume.pdf">
			<Button text="Resume" />
		</NewTabLink>
	</div>
</nav>
