---
interface Props {
	href: string
	className?: string
	ariaLabel?: string
}

const { href, className = "", ariaLabel } = Astro.props
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class={className}
	aria-label={ariaLabel}
>
	<slot />
</a>
