---
import { Image } from "astro:assets"

interface Props {
	src: ImageMetadata
	alt: string
	className?: string
}

const { src, alt, className = "" } = Astro.props
---

<div
	class={`group relative transition-transform duration-300 hover:-translate-2 ${className}`}
>
	<div
		class="border-accent absolute inset-0 -z-10 translate-3 rounded-lg border-2 transition-transform duration-300 group-hover:translate-6"
	>
	</div>
	<Image src={src} alt={alt} class="rounded-lg" loading="lazy" />
	<div
		class="bg-accent/40 absolute inset-0 rounded-lg transition-opacity duration-300 group-hover:opacity-0"
	>
	</div>
</div>
