---
import { Image } from "astro:assets"
import H3 from "../components/text/H3.astro"
import P from "../components/text/P.astro"
import ProfileImage from "../components/ProfileImage.astro"
import qiyuanImage from "../assets/qiyuan.avif"
import qiyuanCropped from "../assets/qiyuan_cropped.avif"
import TextLink from "../components/TextLink.astro"
import Li from "../components/text/Li.astro"
---

<section id="about" class="w-full py-20 xl:w-4/5">
	<H3 number={1} className="mb-12">About Me</H3>

	<div class="flex flex-col gap-12 md:flex-row">
		<div class="flex-1 space-y-4">
			<P>
				Hi! I'm Qiyuan, a software engineer with a background in maths
				and computer science. I have a passion for building useful,
				reliable web applications that solve real problems.
			</P>

			<P>
				I've worked at various companies such as <TextLink
					href="https://www.oxdelivers.com">OxDelivers</TextLink
				> and <TextLink href="https://dtiservices.io/"
					>DTIServices</TextLink
				>, where I've contributed to real products used by real people.
			</P>

			<P>
				When I have time, I'm always building side projects to explore
				new ideas, test out technologies, and keep improving as an
				engineer.
			</P>
			<P>
				Here are a few technologies I've been working with recently:
			</P>

			<ul class="grid w-max grid-cols-2 gap-x-16 gap-y-2">
				<Li>TypeScript</Li>
				<Li>React</Li>
				<Li>Tailwind</Li>
				<Li>Node.js</Li>
				<Li>Next.js</Li>
				<Li>Python</Li>
			</ul>
		</div>

		<div class="flex flex-col items-center md:w-1/3">
			<!-- Mobile -->
			<ProfileImage
				src={qiyuanCropped}
				alt="Qiyuan Chen"
				className="block w-60 md:hidden"
			/>

			<!-- Desktop -->
			<ProfileImage
				src={qiyuanImage}
				alt="Qiyuan Chen"
				className="hidden md:block md:w-48 lg:w-56 xl:w-64"
			/>
		</div>
	</div>
</section>
