---
import Navbar from "../components/Navbar.astro"
import Sidebar from "../components/Sidebar.astro"
import Drawer from "../components/Drawer.astro"
import Footer from "../components/Footer.astro"
import PageWrapper from "./PageWrapper.astro"
---

<PageWrapper>
	<Navbar />
	<Sidebar />
	<Drawer />
	<main class="flex flex-col items-center px-10 pt-20 md:px-30 lg:px-40">
		<slot />
		<Footer />
	</main>
</PageWrapper>
